@import '~normalize.css';
@import '~highlight.js/styles/dracula.css';

* {
  box-sizing: border-box;
}

.editor {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #333333;
}

.view {
  padding: 15px;
  padding-left: 20px;
  float: right;
  width: 42.5%;
  height: 578px;
  color: #ffffff;
  background-color: #b34020;
}

.TextArea {
  float: right;
  height: 578px;
  width: 42.5%;
}

.files-list-container {
  margin-left: 0;
  width: 15%;
  height: 578px;
  float: left;
}